<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="esercizioForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input
            type="text"
            name="projectName"
            formControlName="projectName"
            class="form-control"
          />

          <span
            class="help-block"
            *ngIf="
              !esercizioForm.get('projectName').valid &&
              esercizioForm.get('projectName').touched
            "
            >Metti un Nome del Progetto Valido!</span
          >
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            formControlName="email"
            class="form-control"
          />
          <span
            class="help-block"
            *ngIf="
              !esercizioForm.get('email').valid &&
              esercizioForm.get('email').touched
            "
            >Metti una Email Valida!</span
          >
          <label for="projectStatus">Project Status</label>
          <select
            formControlName="projectStatus"
            name="projectStatus"
            id="selezioneStatus"
            class="form-control"
          >
            <option *ngFor="let status of statusProgetti">{{ status }}</option>
          </select>
        </div>
        <button
          class="btn btn-primary"
          [disabled]="!esercizioForm.valid"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
